@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Scroll Custom */
  ::-webkit-scrollbar {
    width: 6px;
    position: absolute;
  }
  ::-webkit-scrollbar-track {
    background: rgba(102, 102, 102, 0.555);
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg-rgb: 255,255,255;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;transition-duration: 2s;
}
body {
  background-color: var(--bs-body-color);
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
.App {
  background-color: rgb(109, 109, 109);
  color: #fff;
}
.AppHeader {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 260px;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  color: white;
  overflow-y: scroll;
}
  .AppHeaderTitle {
    padding: 1rem;
  }.AppPerfilImg {
    text-align: center;
    padding: 1rem;
  }.AppPerfilImg img {
    width: 160px;
    border: var(--bs-gray-dark) 8px solid;
    border-radius:  50%;
  }.AppHeaderTitle h1 {
    text-align: center;
    font-size: 18pt;
    font-weight: 400;
  }

  .AppHeaderBody {
    color: var(--bs-light);
  }.AppHeaderBody .menu {
    list-style: none;
    padding: 3rem;
    line-height: 3rem;
    font-size: x-large;
    text-align: center;
  }.AppHeaderBody a {
    text-decoration: none;
    color: var(--bs-gray-100);
  }.AppHeaderBody a:hover {
    color: var(--bs-success);
  }

  .AppHeaderFooter {
    margin-bottom: 10px;
    text-align: center;
    margin-top: auto;
  }.AppHeaderFooter a {
    color: var(--bs-light);
    text-decoration: none;
    font-size: x-large;
    margin: 10px;
  }.AppHeaderFooter a:hover {
    color: var(--bs-info);
  }

.AppContainer {
  margin-left: 260px;
}.container {
  height: 100vh;
  border-bottom: var(--bs-light) solid 2px;
}
  .AppHome {
    background-image: url("./assets/fundo.jpg");
  }#mascara {
    background-color: rgba(0, 0, 0, 0.753);
    padding: 1rem;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }.boasVindasText{
    font-size: 50px;
    text-align: center;
   /* white-space: nowrap;
    overflow: hidden;
    animation: blinkcursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 1s normal both;*/
  }
  .AppSobre {
    padding: 1rem;
  }
  .AppExp {
    padding: 1rem;
  }
  .AppEduca {
    padding: 1rem;
  }
  .AppProjetos {
    padding: 1rem;
  }
  .AppContatos {
    padding: 1rem;
  }

.App-link {
  color: #61dafb;
  text-decoration: none;
}
.App-link:hover {
  color: brown;
}
.App-btn {
  border: none;
  color: aliceblue;
  background-color: brown;
  padding: 5px;
}

@keyframes blinkcursor {
  from {
    border-right: rgba(255, 255, 255, 0.85) 5px solid;
  } to {
    border-right: transparent;
  }
}@keyframes typing {
  from {
    width: 0;
  } to {
    width: 50%;
  }
}